@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



/* ===== GLOBAL SCROLLBAR THEME ===== */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #0b0f1a; /* dark track */
}
/* Remove scrollbar arrow buttons (Chrome, Edge, Safari) */
::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #1f2937,
    #334155
  );
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #00FFB2,
    #00d4ff
  );
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #334155 #0b0f1a;
}